version: '{build}'

environment:
  SCIPOPTDIR: C:\scipoptdir
  pypipw:
    secure: HEa8MAJyyfSv33snyK3Gleflk9SIfZBxbnTiS39hlWM=
  optipw:
    secure: mi/mkS8vYK1Yza0A1FB4/Q==

  matrix:
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      PYTHON: C:\Python35-x64
      PIP: C:\Python35-x64\Scripts\pip
      PYTEST: C:\Python35-x64\Scripts\pytest
      TWINE: C:\Python35-x64\Scripts\twine
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      PYTHON: C:\Python36-x64
      PIP: C:\Python36-x64\Scripts\pip
      PYTEST: C:\Python36-x64\Scripts\pytest
      TWINE: C:\Python36-x64\Scripts\twine
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      PYTHON: C:\Python37-x64
      PIP: C:\Python37-x64\Scripts\pip
      PYTEST: C:\Python37-x64\Scripts\pytest
      TWINE: C:\Python37-x64\Scripts\twine
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      PYTHON: C:\Python38-x64
      PIP: C:\Python38-x64\Scripts\pip
      PYTEST: C:\Python38-x64\Scripts\pytest
      TWINE: C:\Python38-x64\Scripts\twine


install:
  # - ps: $uri = 'http://opti-test.zib.de/v600-rc06/scip/download/release/SCIPOptSuite-6.0.0-win64-VS15.exe'
  # - ps: $user = 'opti-test'
  # - ps: $pass = $env:optipw | ConvertTo-SecureString -AsPlainText -Force
  # - ps: $cred = New-Object Management.Automation.PSCredential ($user, ($pass))
  # - ps: Invoke-WebRequest -Uri $uri -Credential $cred -OutFile 'scipopt-installer.exe'
  - ps: wget http://scip.zib.de/download/release/SCIPOptSuite-7.0.1-win64-VS15.exe -outfile scipopt-installer.exe
  - scipopt-installer.exe /S /D=%SCIPOPTDIR%
  - set PATH=%SCIPOPTDIR%\bin;%PYTHON%;%PATH%
  - cmd: "%PIP% install cython networkx pytest wheel twine"

build_script:
  - cmd: "%PIP% install ."

test_script:
  - cmd: "%PYTEST% tests"

artifacts:
  - path: dist\*

after_test:
  - cmd: "echo [pypi] > %USERPROFILE%\\.pypirc"
  - cmd: "echo username: pyscipopt >> %USERPROFILE%\\.pypirc"
  - cmd: "echo password: %pypipw% >> %USERPROFILE%\\.pypirc"
  - python setup.py bdist_wheel

on_success:
  - cmd: "if [%APPVEYOR_REPO_TAG%]==[true] %TWINE% upload dist\\*.whl"
