[build-system]
requires = ['setuptools', 'cython <3, >=0.21']
build-backend = "setuptools.build_meta"

[tool.cibuildwheel]
skip="pp* cp312*" # currently doesn't work with PyPy or CPython 3.12


[tool.cibuildwheel.linux]
skip="pp* cp312* *musllinux*"
before-all = [
    "(apt-get update && apt-get install --yes wget) || yum install -y wget zlib libgfortran || brew install wget",
    "wget https://github.com/mmghannam/scip/releases/download/v8.0.3/libscip-centos.zip -O scip.zip",
    "unzip scip.zip",
    "mv scip_install scip"
    ]
environment = { SCIPOPTDIR="$(pwd)/scip", LD_LIBRARY_PATH="$(pwd)/scip/lib:LD_LIBRARY_PATH", DYLD_LIBRARY_PATH="$(pwd)/scip/lib:$DYLD_LIBRARY_PATH", PATH="$(pwd)/scip/bin:$PATH", PKG_CONFIG_PATH="$(pwd)/scip/lib/pkgconfig:$PKG_CONFIG_PATH"}


[tool.cibuildwheel.macos]
skip="pp* cp312* cp38* cp39* cp310*"
before-all = [
    "brew install wget zlib gcc",
    "wget https://github.com/mmghannam/scip/releases/download/v8.0.3/libscip-macos-arm.zip -O scip.zip",
    "unzip scip.zip",
    "mv scip_install scip"
    ]
environment = { SCIPOPTDIR="$(pwd)/scip", LD_LIBRARY_PATH="$(pwd)/scip/lib:LD_LIBRARY_PATH", DYLD_LIBRARY_PATH="$(pwd)/scip/lib:$DYLD_LIBRARY_PATH", PATH="$(pwd)/scip/bin:$PATH", PKG_CONFIG_PATH="$(pwd)/scip/lib/pkgconfig:$PKG_CONFIG_PATH"}


[tool.cibuildwheel.windows]
skip="pp* cp36* cp37* cp312-*"
before-all = [
    "choco install 7zip wget",
    "wget https://github.com/mmghannam/scip/releases/download/v8.0.3/libscip-windows.zip -O scip.zip",
    "\"C:\\Program Files\\7-Zip\\7z.exe\" x \"scip.zip\" -o\"scip-test\"",
    "mv .\\scip-test\\scip_install .\\test",
    "mv .\\test .\\scip"
]
environment = { SCIPOPTDIR='D:\\a\\PySCIPOpt\\PySCIPOpt\\scip' }
