name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-20.04]

    steps:
      - uses: actions/checkout@v4
    
      - name: Build wheels
        uses: pypa/cibuildwheel@v2.16.2
        env:
            SCIPOPTDIR: ${{ github.workspace }}/scip_install
        
      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl