name: TestPyPI release

env:
  version: 10.0.0


# runs only when a release is published, not on drafts
on:
  workflow_dispatch:


jobs:
  deploy-packges-and-generate-documentation:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies (SCIPOptSuite)
        run: |
          wget --quiet --no-check-certificate "https://github.com/scipopt/scip/releases/download/v${version}/scipoptsuite_${version}-1+jammy_amd64.deb"
          sudo apt-get update && sudo apt install -y ./scipoptsuite_${version}-1+jammy_amd64.deb

      - name: Setup python 3
        uses: actions/setup-python@v4
        with:
         python-version: '3.x'

      - name: Prepare python environment
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel cython build

      - name: Build package
        run: |
          python -m build --sdist --no-isolation --outdir dist/

      - name: Generate documentation
        run: |
          sudo apt-get install doxygen graphviz
          bash -ex generate-docs.sh "${{ secrets.GITHUB_TOKEN }}" "gh-pages"

      - name: "Publish to test.pypi.org"
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository_url: https://test.pypi.org/legacy/
          user: __token__
          password: ${{ secrets.TESTPYPI_API_TOKEN }}
          verbose: true
          packages_dir: dist/
